# Ignore Node.js dependencies
node_modules/

# Ignore distribution files
./dist

# Ignore specific directories
/extensions/*
themes/
.idea/*
.evershop/
.vscode/
/public/
/media/
coverage/
cypress/
/config/

# Ignore specific files
npm-debug.log
/package-lock.json
.DS_Store
.log
.prettierignore
.prettierrc
mysqlToPostgres.js
